version: '3.8'

services:
  server:
    build: .
    ports:
      - ${PORT}:${PORT}
    env_file: 
      - .env
    depends_on:
      - db
    networks:
      - custom-net
    restart: always

    volumes:
      - .:/app/logs
      - .:/app/
  db:
    build: ./database/
    env_file:
      - .env
    image: postgres
    ports:
      - ${POSTGRESS_PORT}:${POSTGRESS_PORT}
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - custom-net
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data:

networks:
  custom-net:
    driver: bridge

