version: '3.8'

services:
  server:
    build: .
    ports: 
      - ${PORT}:${PORT}
    env_file: .env
    depends_on:
      - db
    networks:
      - custom-net
    restart: always
    volumes: 
      - ./logs:/app/src/logs
      - ./src:/app/src
  db:
    build: ./database/
    image: postgres
    ports:
      - ${POSTGRESS_PORT}:${POSTGRESS_PORT}
    environment: 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - custom-net
    volumes:
      - db-data:/var/lib/postgresql/data
volumes: 
  db-data:

networks:
  custom-net:
    driver: bridge
    ipam: 
      config: 
        - subnet: 192.168.220.0/24